.litmon_home-outcover{
    padding-bottom: 3rem;
}

.litmon_home {
    display: flex;
    background-color: var(--color-bgd)
}

.litmon_home-container {
    display: flex;
    flex: 1;
    align-content: center ;
}

.litmon_home-container_text {
    display: flex;
    flex-direction: column;
    flex: 0.50;
}

.litmon_home-container_img {
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 2rem 0 0 0;
    height: 115%;
    width: 100%;
}

.litmon_home-container_img img {
    height: 50rem;
    width: 18rem;
    justify-content: end;
    align-self: flex-end;
    height: 115%;
    border-radius: 2rem;
}

.litmon_home-container_text h1 {
    font-family: var(--font-family-title);
    font-size: 64px;
    color: var(--color-title);
    font-weight: 100;
}

.litmon_home-container_text h3{
    padding: 0.5rem 0 0 0;
    font-size: 40px;
    color: var(--color-subtitle);
}

.litmon_home-container_text p{
    font-family: var(--font-family-text);
    color: var(--color-subtitle);
    padding: 1rem 0;
    font-size: 20px;
}

.litmon_home-container_text button {
    width: 50%;
    margin-top: 2rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-button);
    font-family: var(--font-family-text);
    outline: none;
    border: none;
    font-size: 18px;
}

@media screen and (max-width:900px) {
    .litmon_home-container_text h1 {
        font-size: 54px;
    }
    .litmon_home-container_text h3 {
        font-size: 30px;
    }
    .litmon_home-container_text p{
        font-size: 18px;
        padding: 1rem 0 0 0;
    }
    .litmon_home-container_text button {
        width: 100%;
        padding: 0 0.1rem;
        margin-top: 1rem;
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {

    .litmon_home-container{
        margin: 1rem;
        padding: 1rem;
        flex-direction: column;
    }

    .litmon_home-container_img{
        flex-direction: row;
        margin-top: 3rem;
    }

    .litmon_home-container_text h1{
        font-size: 40px;
    }

    .litmon_home-container_text h3 {
        font-size: 20px;
    }

    .litmon_home-container_text p{
        font-size: 14px;
        padding: 1rem 0 0 0;
    }

    .litmon_home-container_text button {
        width: 40%;
        padding: 0 0.1rem;
        margin: 2rem 0;
        font-size: 12px;
    }
}
