.litmon_testi{
    background-color: var(--color-bgd);
    align-content: center;
    align-items: center;

}

.litmon_testi-cont{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    align-content: center;
    align-items: center;
}

.heading h2{
    color: var(--color-subtitle);
    display: flex;
    padding-top: 6rem;
}

.litmon_testi-cont_holder{
    display: flex;

}

.litmon_reviewcard{
    display: flex;
    background-color: #fff;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5%;
    margin: 2rem 0.5rem;
    width: auto;
    height: 20rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.name_pix{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name_pix img{
    width: 50%;
    height: 8rem;
    
    border-radius: 50%;
    
}

.name_pix h4{
    justify-self: center;
    align-self: center;
    
}

.review p{
    color: var(--color-bgd);
}

@media screen and (max-width:550px) {
    .litmon_testi-cont_holder{
        display: flex;
        flex-direction: column;
        
    }
    .litmon_testi-cont{
        margin: 0;
    }
}
